{% extends layout %}
{% block content %}
	<section class="l-section">
		<div class="l-container">
			<div class="fragments">

					<div class="c-team__arrow c-team__arrow_left"></div>
					<div class="c-team__arrow c-team__arrow_right"></div>
				<div class="fragments__list">

					<div class="fragments__page">
						<div class="fragments__wrapper">
							<div class="fragments__inner fragments__inner_left">
								<div class="fragments__inner fragments__inner_right"></div>
							</div>
						</div>
					</div>
					<div class="fragments__page">
						<div class="fragments__wrapper">
							<div class="fragments__inner fragments__inner_left">
								<div class="fragments__inner fragments__inner_right"></div>
							</div>
						</div>
					</div>
					<div class="fragments__page">
						<div class="fragments__wrapper">
							<div class="fragments__inner fragments__inner_left">
								<div class="fragments__inner fragments__inner_right"></div>
							</div>
						</div>
					</div>
					<div class="fragments__page active active__left">
						<div class="fragments__wrapper">
							<div class="fragments__inner fragments__inner_left">
								<div class="fragments__inner fragments__inner_right"></div>
							</div>
						</div>
					</div>
					<div class="fragments__page">
						<div class="fragments__wrapper">
							<div class="fragments__inner fragments__inner_left">
								<div class="fragments__inner fragments__inner_right"></div>
							</div>
						</div>
					</div>
					<div class="fragments__page">
						<div class="fragments__wrapper">
							<div class="fragments__inner fragments__inner_left">
								<div class="fragments__inner fragments__inner_right"></div>
							</div>
						</div>
					</div>
					<div class="fragments__page">
						<div class="fragments__wrapper">
							<div class="fragments__inner fragments__inner_left">
								<div class="fragments__inner fragments__inner_right"></div>
							</div>
						</div>
					</div>
				</div> 
			</div>
		</div>
	</div>
	</section>


{% block script %}
<script>
	if($(document).width() > 968) {
		var parent, item, parentWidth, itemWidth, distance, newDistance, n, i;
		parent = $(".fragments__list");
		item = $(".fragments__page");
		parentWidth = parent.width();
		// itemWidth = item.width();
		active = $(".fragments__page.active");
		activeWidth = 490;
		distance = ((parentWidth - activeWidth) / (item.length - 1)) / parentWidth * 100;
		n = 0;
		for(i = 0; i < item.length; i++) {
			item.eq(i).css("width", distance + "%");
		};
		for(i = 1; i < item.length; i++) {
			n += distance;
			item.eq(i).css("margin-left", n + "%");
		};
		item.hover(function() {
			item.each(function() {
				if($(this).index() > active.index()) {
					$(this).css("transform", "translateX(" + activeWidth + "px)");
				}
			});
			if($(this).index() != 0) {
				// n = 0;
				// newDistance = ((parentWidth - itemWidth * 2) / (item.length - 2)) / parentWidth * 100;
				// for(i = 0; i <= $(this).index(); i++) {
				// 	item.eq(i).css("margin-left", n + "%");
				// 	n += newDistance;
				// };
				// n += itemWidth / parentWidth * 100 - newDistance;
				// for(i = $(this).index() + 1; i < item.length; i++) {
				// 	item.eq(i).css("margin-left", n + "%");
				// 	n += ((parentWidth - itemWidth * 2) / (item.length - 2)) / parentWidth * 100;
				// }
				$(this).addClass("active");
				$(this).addClass("active__left");
			}
		}, function() {
			$(this).removeClass("active");
			$(this).removeClass("active__left");
		});
	};
</script>

{% endblock %}

{% endblock %}